@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    display: flex;
    position: relative;
  }

  /* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}